* {
  color: whitesmoke;
  text-decoration: none;
  padding: 0px;
}

body {
  background-color: black;
  text-decoration: none;
  font-family: "Comfortaa", cursive;
}

.footer-social-icons, .envios, .section-container, #hoybanco {
  display: flex;
  justify-content: center;
}

.navbar-brand {
  font-size: 30px;
}

.offcanvas {
  font-size: larger;
}

p {
  font-size: 18px;
}

#envios {
  font-size: 20px;
}

#hoybanco {
  font-size: larger;
}

/*header*/
.imgnav {
  display: flex;
}

.offcanvas {
  background-color: #0d6efd;
}

/*fin header*/
/*index-home*/
#hoybanco {
  font-size: larger;
  color: #fff;
  background-color: #0d6efd;
  margin-top: 9rem;
}

section {
  margin-top: 130px;
}

.section-container {
  margin-bottom: 100px;
  color: whitesmoke;
}
.section-container .section {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-fluid:hover {
  transition: all 1.5s;
  transform: scale(1.3);
}

.vermas {
  text-align: center;
  margin-bottom: 9rem;
}

/*fin index*/
h2 {
  color: #0d6efd;
  font-size: 30px;
  margin-top: 160px;
  margin-bottom: 50px;
}

h3 {
  color: #0d6efd;
  padding: 0;
  display: flex;
}

h4 {
  color: whitesmoke;
  font-size: 20px;
}

@media screen and (max-width: 897px) {
  * {
    font-size: 8px;
  }

  .col {
    width: 50;
  }

  #hoybanco {
    margin-top: 12rem;
  }

  .preg {
    font-size: 8px;
  }

  footer {
    margin-top: 6rem;
  }

  .gracias {
    font-size: 6px;
  }
}
/*Clientes*/
.clientes-container {
  display: flex;
}
.clientes-container .hijoclientes {
  margin-bottom: 100px;
  margin-left: 10rem;
  margin-right: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  color: whitesmoke;
  font-size: 16px;
}

.clientes {
  margin: 20px 0px 60px;
  text-decoration: solid;
}

/*Fin clientes*/
/*nosotros*/
#somos {
  margin-top: 11rem;
  font-size: 24px;
}

#envios {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#envios2 {
  color: rgb(238, 113, 113);
  text-decoration: underline;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4.5rem;
  margin-bottom: 8rem;
}

/*fin nosotros*/
footer {
  margin-top: 16rem;
}

.footer-social-icons {
  width: 250px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.social-icon {
  color: #fff;
}
.social-icon ul.social-icons {
  margin-top: 10px;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
.social-icons li .social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-facebook {
  width: 10;
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-twitter {
  padding: 10px 12px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-twitter:hover {
  background-color: #00aced;
}

.fa-ig {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-ig:hover {
  background-color: #eb8231;
}

.preg {
  margin-bottom: 3rem;
  font-size: 18px;
}

h1 {
  margin-bottom: 3rem;
}

h5 {
  font-size: 45px;
  margin-bottom: 2rem;
}

p.item {
  margin-top: 3rem;
}

.col {
  margin-top: 12rem;
}
.col img {
  flex-wrap: wrap;
}

.comprar {
  margin-top: 2rem;
}

.cuenta {
  color: #0d6efd;
  margin-top: 19rem;
  text-align: center;
}

.form-row {
  font-size: 20px;
  color: #0d6efd;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.form-row input[type=text] {
  color: whitesmoke;
  background-color: #4985dd;
  border-radius: 1px solid whitesmoke;
}

.form-row2 {
  font-size: 20px;
  margin-top: 1rem;
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
}
.form-row2 input[type=email] {
  color: whitesmoke;
  background-color: #4985dd;
  border-radius: 1px solid whitesmoke;
}

.form-row3 {
  font-size: 20px;
  margin-top: 1rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
}
.form-row3 input[type=password] {
  color: whitesmoke;
  background-color: #4985dd;
  border-radius: 1px solid whitesmoke;
}

.submit {
  display: flex;
  justify-content: center;
  margin-bottom: 15rem;
}
.submit button {
  font-size: 20px;
  background-color: whitesmoke;
  color: black;
  margin-top: 2rem;
  margin-left: 3rem;
}

.gracias {
  font-size: 30px;
  text-align: center;
  margin: 20rem;
}

/*# sourceMappingURL=style.css.map */
