* {
  color: whitesmoke;
  text-decoration: none;
  padding: 0px;
}

body {
  background-color: black;
  text-decoration: none;
  font-family: "Comfortaa", cursive;
}

.footer-social-icons, .envios, .section-container, #hoybanco {
  display: flex;
  justify-content: center;
}

.navbar-brand {
  font-size: 30px;
}

.offcanvas {
  font-size: larger;
}

p {
  font-size: 18px;
}

#envios {
  font-size: 20px;
}

#hoybanco {
  font-size: larger;
}

/*header*/
.imgnav {
  display: flex;
}

.offcanvas {
  background-color: #0d6efd;
}

/*fin header*/
/*index-home*/
#hoybanco {
  font-size: larger;
  color: #fff;
  background-color: #0d6efd;
  margin-top: 9rem;
}

section {
  margin-top: 130px;
}

.section-container {
  margin-bottom: 100px;
  margin-right: 6rem;
  color: whitesmoke;
}
.section-container .section {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.vermas {
  text-align: center;
  margin-bottom: 9rem;
}

/*fin index*/
h2 {
  color: #0d6efd;
  font-size: 30px;
  margin-top: 160px;
  margin-bottom: 50px;
}

h3 {
  color: #0d6efd;
  padding: 0;
  display: flex;
}

h4 {
  color: whitesmoke;
  font-size: 20px;
}

@media screen and (max-width: 897px) {
  * {
    font-size: 12px;
  }

  .col {
    width: 50;
  }

  #hoybanco {
    margin-top: 12rem;
  }

  .preg {
    font-size: 12px;
  }

  footer {
    margin-top: 6rem;
  }

  .gracias {
    font-size: 6px;
  }

  .section-container {
    margin-right: 0;
  }
}
/*Clientes*/
.card {
  background-color: black;
  border: 1px solid #d6d6d6;
  border-radius: 13px;
  padding: 30px 60px;
  box-shadow: 0px 0px 20px 0px rgb(255, 255, 80);
}

.card-title {
  position: relative;
}

.card-text {
  color: whitesmoke;
  font-size: 16px;
}

.clientes {
  margin: 20px 0px 60px;
  text-decoration: solid;
}

/*Fin clientes*/
/*nosotros*/
#somos {
  margin-top: 11rem;
  font-size: 24px;
}

#envios {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#envios2 {
  color: rgb(238, 113, 113);
  text-decoration: underline;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4.5rem;
  margin-bottom: 8rem;
}

/*fin nosotros*/
.footer-social-icons {
  width: 250px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.social-icon {
  color: #fff;
}
.social-icon ul.social-icons {
  margin-top: 10px;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
.social-icons li .social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-facebook {
  width: 10;
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-twitter {
  padding: 10px 12px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-twitter:hover {
  background-color: #00aced;
}

.fa-ig {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-ig:hover {
  background-color: #eb8231;
}

#somos {
  margin-top: 14rem;
}

#envios {
  margin-bottom: 0;
}

h1 {
  margin-bottom: 3rem;
}

h5 {
  font-size: 45px;
  margin-bottom: 2rem;
}

p.item {
  margin-top: 3rem;
}

.col {
  margin-top: 12rem;
}
.col img {
  flex-wrap: wrap;
}

.comprar {
  margin-top: 2rem;
}

.cuenta {
  color: #0d6efd;
  margin-top: 10rem;
  text-align: center;
}

.ingresar {
  margin-top: 0;
}

form {
  width: 35%;
  background-color: black;
  position: relative;
  margin-top: 14rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  padding: 30px 60px;
  box-shadow: 0px 0px 20px 0px whitesmoke;
}

.btn {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 100%;
}

.gracias {
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  form {
    width: 90%;
    padding: 10px 5px;
  }
}
@media only screen and (max-width: 1200px) {
  form {
    width: 80%;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.preg {
  text-align: center;
}

html {
  font-size: 15px;
  box-sizing: border-box;
}

/*Section used for centering process*/
.faq {
  width: 100%;
  margin-top: 1rem;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq .container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.accordion-item {
  background-color: #000000;
  border-radius: 0.4rem;
}
.accordion-item hr {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.accordion-link {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.accordion-link h3 {
  font-weight: 500;
  font-size: 20px;
}

.accordion-link i {
  color: #e7d5ff;
  padding: 0.5rem;
}

.accordion-link div {
  display: flex;
}

.accordion-link .ion-md-arrow-down {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #000;
  transition: max-height 650ms;
}
.answer p {
  color: #fff;
  font-size: 20px;
  padding: 2rem;
}

.accordion-item:target .answer {
  max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-arrow-forward {
  display: none;
}

.accordion-item:target .accordion-link .ion-md-arrow-down {
  display: block;
}

.box:hover {
  transition: all 1.5s;
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
