@import './componentes/body';
@import './base/variables';
@import './base/extends';
@import './base/mixins';
@import './componentes/header';
@import './componentes/productosindex';
@import './base/listas';
@import './componentes/clientes';
@import './componentes/nosotros';
@import './componentes/footer';
@import './componentes/faq';
@import './componentes/productos';
@import './componentes/formulario';
@import './componentes/faq1';