@import '../base/variables';


*{
    color: whitesmoke;
    text-decoration: none;
    padding: 0px;
}

body {
    background-color: $bg-color;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
}


