/*Clientes*/

.clientes-container {
    display: flex;
}

.hijoclientes {
    margin-bottom: 100px;
    margin-left: 10rem;
    margin-right: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    color: whitesmoke;
    font-size: 16px;
}

.clientes {
    margin: 20px 0px 60px ;
    text-decoration:solid;
}

/*Fin clientes*/