/*Clientes*/

 

.card { 
background-color: black;
border: 1px solid #d6d6d6;
border-radius: 13px;
padding: 30px 60px;
box-shadow: 0px 0px 20px 0px rgb(255, 255, 80);
}


.card-title {
    position: relative;
}
.card-text {
    color: whitesmoke ;
    font-size: 16px;
}

.clientes {
    margin: 20px 0px 60px ;
    text-decoration:solid;
}

/*Fin clientes*/