footer {
    margin-top: 16rem;
}

.footer-social-icons {
    width: 250px;
    display:flex;
    justify-content: center;
    margin: 0 auto;
}

.social-icon {
    color: #fff;
    ul.social-icons {
            margin-top: 10px; 
    }
}

.social-icons li {
                    vertical-align: top;
                    display: inline;
                    height: 100px;
                .social-icons a {
                        color: #fff;
                        text-decoration: none;
    }
}  


.fa-facebook {
    width: 10;
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
                        &:hover {
                        background-color: #3d5b99;
    } 
}

.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
                    &:hover {
    background-color: #00aced;
    }
}

.fa-ig {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
                &:hover {
    background-color: #eb8231;
    }
}