
.cuenta {
    color: #0d6efd, ;
    margin-top: 10rem;
    text-align: center;
}

.ingresar {
    margin-top: 0;
}

form {
    width: 35%;
    background-color: black;
    position:relative;
    margin-top: 14rem;
    left:50%;
    transform: translate(-50%, -50%);
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    padding: 30px 60px;
    box-shadow: 0px 0px 20px 0px whitesmoke;
}
  
.btn {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%;
  }

.gracias {
    font-size: 40px;
  }
  
  
  @media only screen and (max-width: 600px) {
    form {
      width: 90%;
      padding: 10px 5px;
    }
    }
    
    @media only screen and (max-width: 1200px) {
    form {
      width: 80%;
    }
    }
