/*nosotros*/

#somos {
    margin-top: 11rem;
    font-size: 24px;
}

#envios {
    font-size: 20px;
    display: flex;
    justify-content:center;
}

#envios2 {
    color: rgb(238, 113, 113);
    text-decoration:underline ;
    width: 90%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top: 4.5rem;
    margin-bottom: 8rem;
}

/*fin nosotros*/