/*index-home*/
#hoybanco {
    font-size:larger;
    color: #fff;
    background-color: #0d6efd;
    margin-top: 9rem;
}



section {
    margin-top: 130px;
}

.section-container {
    margin-bottom: 100px;
    color: whitesmoke;
}

.section {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.img-fluid:hover {
    transition: all 1.5s;
    transform: scale(1.3);
}

.vermas {
    text-align: center;
    margin-bottom: 9rem;
}
/*fin index*/