h1 {
    margin-bottom: 3rem;
}

h5 {
    font-size:45px;
    margin-bottom: 2rem;
}

p.item {
    margin-top: 3rem;
}

.col {
    margin-top: 12rem;
    img {
        flex-wrap: wrap;
    }
}

.comprar {
    margin-top: 2rem;
}