/*index-home*/
#hoybanco {
    font-size:larger;
    color: #fff;
    background-color: #0d6efd;
    margin-top: 9rem;
}



section {
    margin-top: 130px;
}

.section-container {
    margin-bottom: 100px;
    margin-right: 6rem;
    color: whitesmoke;
        .section {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }   
}



.vermas {
    text-align: center;
    margin-bottom: 9rem;
}
/*fin index*/