
.box {
        &:hover {
    transition: all 1.5s;
    transform: scale(1.1);
        }
 }

#words {
    animation: move 3s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: translate(-5%, -5%);
    }
    50% {
        text-shadow: 0 25px 60px yellow;
    }
    
}

